graft src
graft data
global-include *.txt
global-exclude *.py[cod]

# Include package-level files and directories here; e.g.:
#
# include *.png *.jpeg
# exclude *.webp
# graft spice-kernels
# prune src/pds/archive_analytics/obsolete-dir
# global-exclude *.log *.so
